.discover-navbar {
  width: 900px;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left-arrow-discover {
  width: 5%;
  display: flex;
  align-items: center;
  cursor: pointer;
  display: none;
}
.right-arrow-discover {
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

.discover-navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.discover-navbar li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #434755;
}

.discover-navbar li:hover {
  border-bottom: 3px solid #f6c142;
  cursor: pointer;
  font-weight: bold;
  color: black;
}
