.home-page {
  width: 100%;
  position: relative;
}
.home-page img {
  width: 100%;
}
#left {
  position: absolute;
  top: 0;
}
#right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.brain-symbol img {
  height: 500px;
  width: 500px;
}
