.hero-section-home-page {
  width: 100%;
  height: 600px;
  position: relative;
}
.hero-section-home-page img {
  width: 100%;
  height: 100%;
}

.hero-section-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
#left {
  position: absolute;
  top: 0;
}
#right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.brain-symbol img {
  height: 500px;
  width: 500px;
}

.carousel-content {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.discover {
  width: 100%;
  height: 834px;
  background-color: #fffaeb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-title {
  margin-top: 5%;
  margin-bottom: 5%;
}

.discover-title p {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #12182a;
}
