.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid red;
}
.link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #434755;
}

.link:hover {
  border-bottom: 2px solid #f6c142;
}
